* {
  margin: 0;
  padding: 0;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: fırlan 1.5s linear infinite;
  margin: 100px auto;
}

@keyframes fırlan {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}