* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  text-align: center;
  transition: 0.4s;
}
.dark {
  background-color: #111;
  color: #f1f1f1;
}
button {
  margin-top: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background-color: #2980b9;
}