@page "/matrix"

<div style="background-color:black; width:400px; height:300px; overflow:hidden; font-family:monospace; color:lime; position:relative;">
    @for (int col = 0; col < columns; col++)
    {
        <div style="position:absolute; left:@(col * fontSize)px; top:0px;">
            @foreach (var ch in matrixColumns[col])
            {
                <div>@ch</div>
            }
        </div>
    }
</div>

@code {
    private int columns = 40;
    private int fontSize = 16;
    private List<char>[] matrixColumns;
    private Random rand = new Random();
    private Timer? timer;
    private string characters = "田日月山水火木金土人口目耳口心";

    protected override void OnInitialized()
    {
        matrixColumns = new List<char>[columns];
        for (int i = 0; i < columns; i++)
            matrixColumns[i] = new List<char>();

        timer = new Timer(UpdateMatrix, null, 0, 100);
    }

    private void UpdateMatrix(object? state)
    {
        for (int i = 0; i < columns; i++)
        {
            if (matrixColumns[i].Count > 20) // maximum hərf sayı
                matrixColumns[i].RemoveAt(0);

            matrixColumns[i].Add(characters[rand.Next(characters.Length)]);
        }
        InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        timer?.Dispose();
    }
}
