* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f4f4f4;
}

.clock {
  position: relative;
  width: 300px;
  height: 300px;
  border: 8px solid #000;
  border-radius: 50%;
  background: #fff;
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2), 0 0 20px rgba(0,0,0,0.3);
}

.center {
  position: absolute;
  width: 15px;
  height: 15px;
  background: #000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Əqrəblər */
.hand {
  position: absolute;
  background: #000;
  transform-origin: bottom center;
  left: 50%;
  bottom: 50%;
  transform: translateX(-50%) rotate(0deg);
  border-radius: 5px;
}
.hour {
  width: 6px;
  height: 70px;
}
.minute {
  width: 4px;
  height: 100px;
  background: #111;
}
.second {
  width: 2px;
  height: 120px;
  background: red;
}

/* Rəqəmlər */
.number {
  position: absolute;
  color: #000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  transform: translate(-50%, -50%);
}