* {
  margin: 0;
  padding: 0;
}

.kvadrat {
  width: 100px;
  height: 100px;
  background: #3498db;
  border-radius: 10px;
  margin: 100px auto;
  animation: donme 3s linear infinite;
}

@keyframes donme {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}